body{
    background-color: green;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h1{
        color: goldenrod;
    }
    #message-el{
    font-style: italic;
    }
    button{
        background-color: goldenrod;
        color:#016f32;
        width: 150px;
        border-radius: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        border: none;
        margin-bottom: 2px;
        margin-top: 2px;
    }
footer{
    color:darkred;
    text-align-last:right;
    margin-top: 350px;
}    
div{
    height: 200px;
    width: 250px;
    background-color: rgb(143, 194, 228);
    color: #016f32;;
    text-align: left;
    border: solid 3px rgb(82, 77, 77);
    border-radius: 5px;
    box-shadow:5px 5px rgb(82, 77, 77);
}
div h1{
    text-align: center;
}